/* your styles go here */
#me {
	font-size: 30px;
}

.heading:after {
  background: skyblue;
  height: 4px;
  width: 150px;
}

@media (min-width: 767px) {
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    border-bottom: solid 4px skyblue;
  }
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  transition: all 0.2s ease-out;
}
