/* your styles go here */
/*Main page top left Drake*/
#me {
	font-size: 24px;
}

/*Make underscore line blue for various sections*/
.heading:after {
  background: skyblue;
  height: 4px;
  width: 150px;
}

/*Adjust navbar underline to skyblue when it's selected*/
@media (min-width: 767px) {
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
	border-bottom: solid 4px skyblue;
  }
}

/*Nav bar underline transition is quicker and smoother when scrolling down*/
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  transition: all 0.2s ease-out;
}

/*Making the underscore line blue for the inverted, black sections*/
.section-inverse .heading:after {
  background: skyblue;
}

/*Make contact page icons change size responsive to screen size*/
.contact-icon {
	font-size: 100px;
}

/* @media (max-width: 991px) {
	.contact-icon {	
			font-size: 150px;
		}
} */

/*@media (max-width: 768px) {
	.contact-icon {	
		font-size: 100px;
	}
}

@media (max-width: 640px) {
	.contact-icon {	
		font-size: 50px;
	}
}*/
@media (max-width: 481px) {
	.contact-icon {	
		font-size: 75px;
	}
}

/*center align the Skills icons in their divs */
.box > .icon {
	text-align: center;
	height: 75px;
}
/* center align the skills text */
.box > h4 {
	text-align: center;
	font-size: 18px;
}

#long-skillname {
	font-size: 18px;
}
/* skills icon size */
.icon > i {
	font-size: 75px;
}

/* center the resume and contact info icons */
.contact-div {
	text-align: center;
}

.resume-icon {
	text-align: center;
}
/* adjust height of the not-Devicon icons to match the Devicon icons */
.no-icon {
	height: 150px;
}
/* style the scroll arrow on the home page */
.arrow {
	text-align: center;
}

/* change background of modal to dark, and change corners to 90 degrees*/
.modal-content {
	background-color: #333;
	border-radius: 0;
}
/* skyblue accet line */
.modal-header {
	border-bottom: 4px solid skyblue;
}
/* content inside modal */
.live-links {
	margin-top: 10px;
	margin-bottom: 10px;
}
.live-link-font {
	color: white;
}
.live-link-font:hover {
	color: skyblue;
	text-decoration: none;
}
.live-link-font:visited {
	color: white;
	text-decoration: none;
}
.live-link-font:visited:hover {
	color: skyblue;
	text-decoration: none;
}

/*Text overlay custom settings */
.box {
	position: relative;
}
.box-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(135, 206, 250, 1);
	visibility: hidden;

}
.box:hover .box-overlay {
	visibility: visible;
	text-decoration: none;
	background: rgba(135, 206, 250, 0.9);
    -webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-ms-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
	transition: all 0.6s ease;
}
.box:hover .box-overlay .overlay-text {
	color: #333;
}
.overlay-text {
	padding-left: 10px;
	padding-right: 10px;
}

.overlay-title {
	padding-top: 10%;
}

.about-pic {
	/* margin-top: 33%; */
}

@media (max-width: 769px) {
	.about-pic {
		margin-top: 0;
	}
}

.lead-text {
	font-size: 48px;
}
@media (max-width: 481px) {
	.lead-text {
		font-size: 40px;
	}
}
/*.lead-text {
	font-size: 40px;
}*/
#blue-name {
	color: skyblue;
}

.portfolio-lead {
	padding-bottom: 20px;
}

.modal-body > * {
	padding-top: 20px;
}
.project-description {
	padding-top: 20px;
}

/* for jQuery viewpoint checker. initial state hidden */
.hide {
	opacity: 0;
}
