/* your styles go here */
/*Main page top left Drake*/
#me {
	font-size: 30px;
}

/*Make underscore line blue for various sections*/
.heading:after {
  background: skyblue;
  height: 4px;
  width: 150px;
}

/*Adjust navbar underline to skyblue when it's selected*/
@media (min-width: 767px) {
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
	border-bottom: solid 4px skyblue;
  }
}

/*Nav bar underline transition is quicker and smoother when scrolling down*/
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  transition: all 0.2s ease-out;
}

/*Making the underscore line blue for the inverted, black sections*/
.section-inverse .heading:after {
  background: skyblue;
}

/*Make contact page icons change size responsive to screen size*/
.contact-icon {
	font-size: 200px;
}

@media (max-width: 991px) {
	.contact-icon {	
			font-size: 150px;
		}
}

@media (max-width: 768px) {
	.contact-icon {	
		font-size: 100px;
	}
}

@media (max-width: 640px) {
	.contact-icon {	
		font-size: 50px;
	}
}

/*center align the Skills icons in their divs */
.box > .icon {
	text-align: center;
}
/* center align the skills text */
.box > h4 {
	text-align: center;
}
/* skills icon size */
.icon > i {
	font-size: 150px;
}

.contact-div {
	text-align: center;
}
.resume-icon {
	text-align: center;
}
.no-icon {
	height: 150px;
}